a,b,big,body,dd,div,dl,dt,em,font,form,h1,h2,h3,h4,h5,h6,html,i,img,label,li,ol,p,small,span,strong,u,ul,input{margin:0;padding:0}
html,
body{
	font-family: Arial,sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
.container {
        height: 100%;
        position: relative;
}
#map{
	bottom:0px;
    height: 100%;
    left: 0px;
    position: absolute;
    right: 0px;
}
#pano {
        width: 300px;
        height: 200px;
      }
h2{
	font-size: 1.5rem;
}
p{
	font-size: 1rem;
}
hr{
	background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}
input{
	outline: none;
}
.changStyle{
	position: absolute;
    top: 5%;
    right: 5%;
    background-color:rgba(187, 185, 185, 0.84);
    z-index: 1;
    max-width: 15%;
    padding: 5px;
    text-align: center;
    
}
.styelChange,.showHide{
	margin: 5px;
	text-align: center;
}
.show,.hide{
    margin-right: 3%;
}
.show{
	background-color:#a0cef9;
}
.hide{
	background-color:#cecdce;
}
.styleBtn{
	background-color: #bce6ac;
}
.marker-details{
	width: auto;
	max-width: 300px;
}
.marker-details p{
	padding: 3px;
}
.marker-details p span:first-of-type{
	font-weight: bold;
}
.box{
	background: #fff;
	position: absolute;
	z-index: 1;
	width: 300px;
	max-width: 60%;
	height: 100%;
	border: 1px solid #999;
    border-radius: 3px;
    overflow: hidden;
}

.box .search{
	background: url(../img/default_geocode-1x.png)no-repeat;
	background-size: cover;
	width: 100%;
    height: 30%;s
}
.box .searchLike{
	width: 70%;
	height: 10%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    border-bottom: 1px solid transparent;
    border-radius: 2px;
    position: relative;
    top: 5%;
    left: 20%;
}
.container .menu{
	width: 3rem;
    height: 5rem;
    position: absolute;
    display: inline-block;
    background: url(../img/quantum_menu-v2-1x.png)no-repeat;
    background-size: 6rem 4rem;
    top: 5px;
    cursor: pointer;
    left: 5px;
    z-index: 2;
}

.box .searcBtn{
	width: 1rem;
    height: 2rem;
	position: absolute;
	display: inline-block;
	background: url(../img/quantum_search_button-20150825-1x.png)no-repeat;
	background-size:  3rem 2rem;
	right: 0;
    top: 5px;
    cursor: pointer;
}

.box .searchInput{
	position: absolute;
	width: 100%;
	height: 100%;
    padding-left: 10px;
}
.box .sortSearch{
	margin: 10px;
    height: 70%;
}
.box .sortSearch h3{
	margin-bottom: 10px;
}
.box .sortSearch .type{
    height: auto;
    font-size: 1rem;
}
.box .sortSearch ul{
	margin-top: 10px;
}
.box .sortSearch ul li{
	background-color: #649fec;
    display: inline-block;
    width: auto;
    padding: 2%;
    color: #fff;
    border-radius: 15%;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
}
.searchDetail{
	position: relative;
	top:55px;
	color: #fff;
} 
.searchDetail p{
	margin: 5px;
}
.searchDetail img{
	width: 200px;
    height: 100px;
}
